4ID3/flows.json
[
    {
        "id": "e14a879634f4932f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f76903aa8d4b2aa9",
        "type": "mqtt in",
        "z": "e14a879634f4932f",
        "name": "",
        "topic": "4ID3_GroupA/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fdc1324eb7520d4f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "e1c938b092f312ac",
                "249865257fce9ff0"
            ]
        ]
    },
    {
        "id": "e1c938b092f312ac",
        "type": "ui_chart",
        "z": "e14a879634f4932f",
        "name": "",
        "group": "e7e653c040888c5d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1ee01c11cb2a4051",
        "type": "ui_chart",
        "z": "e14a879634f4932f",
        "name": "",
        "group": "e7e653c040888c5d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pres",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e4b07e5d9c4d33bf",
        "type": "ui_chart",
        "z": "e14a879634f4932f",
        "name": "",
        "group": "e7e653c040888c5d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "77d3a4582716c166",
        "type": "ui_chart",
        "z": "e14a879634f4932f",
        "name": "",
        "group": "e7e653c040888c5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d2eb3bff26280b89",
        "type": "debug",
        "z": "e14a879634f4932f",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "249865257fce9ff0",
        "type": "debug",
        "z": "e14a879634f4932f",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "c852cde0041fcabc",
        "type": "debug",
        "z": "e14a879634f4932f",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "a09eec4ff5ad1ebb",
        "type": "debug",
        "z": "e14a879634f4932f",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "451b5594f246d7bd",
        "type": "mqtt in",
        "z": "e14a879634f4932f",
        "name": "",
        "topic": "4ID3_GroupA/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fdc1324eb7520d4f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "d2eb3bff26280b89",
                "77d3a4582716c166"
            ]
        ]
    },
    {
        "id": "ef9066703a860087",
        "type": "mqtt in",
        "z": "e14a879634f4932f",
        "name": "",
        "topic": "4ID3_GroupA/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fdc1324eb7520d4f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "1ee01c11cb2a4051",
                "c852cde0041fcabc"
            ]
        ]
    },
    {
        "id": "32ae62686e074c01",
        "type": "mqtt in",
        "z": "e14a879634f4932f",
        "name": "",
        "topic": "4ID3_GroupA/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fdc1324eb7520d4f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "e4b07e5d9c4d33bf",
                "a09eec4ff5ad1ebb"
            ]
        ]
    },
    {
        "id": "fdc1324eb7520d4f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e7e653c040888c5d",
        "type": "ui_group",
        "name": "Default",
        "tab": "f3497df0ecc598f0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3497df0ecc598f0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]